body {
    margin: 500px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px #8d99ae;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fefae0;
    text-align: center;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    border-radius: 10px;
}
